In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'D:\Data Science\PowerBI\Employee-promotion-data-analysis\Dataset\train.csv')

In [4]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [6]:
df.shape

(54808, 14)

In [7]:
df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [8]:
# Calculate the percentage of missing value

percentage_missing = df.isnull().sum()/len(df) * 100

In [9]:
percentage_missing

employee_id             0.000000
department              0.000000
region                  0.000000
education               4.395344
gender                  0.000000
recruitment_channel     0.000000
no_of_trainings         0.000000
age                     0.000000
previous_year_rating    7.524449
length_of_service       0.000000
KPIs_met >80%           0.000000
awards_won?             0.000000
avg_training_score      0.000000
is_promoted             0.000000
dtype: float64

In [10]:
# To quick process i am going to drop all the missing value
df.dropna(inplace=True, axis=1)

In [11]:
df.isnull().sum()

employee_id            0
department             0
region                 0
gender                 0
recruitment_channel    0
no_of_trainings        0
age                    0
length_of_service      0
KPIs_met >80%          0
awards_won?            0
avg_training_score     0
is_promoted            0
dtype: int64

In [12]:
df.shape

(54808, 12)

In [16]:
# let's save the data by name employee.csv

df.to_csv('employee.csv')